github "bitstadium/HockeySDK-iOS"
github "thoughtbot/Cascade"
github "kaishin/gifu"
github "LlamaKit/LlamaKit" == 0.5.0
github "thoughtbot/runes" == 1.1.1

github "Quick/Quick" == 0.2.2
github "Quick/Nimble" == 0.3.1
