github "thoughtbot/Cascade" == 0.3.0
github "tonyd256/gifu" "td-swift-1.2"
github "LlamaKit/LlamaKit" == 0.6.0
github "thoughtbot/runes" == 1.2.2

github "Quick/Quick" == 0.3.1
github "Quick/Nimble" == 0.4.2
